{% extends "academics/layout.html" %}

{% block title %} - Add Task{% endblock %}

{% block body %}
    <div class="container">
        <div class="display-6 m-2">Add new task</div>
        <div class="m-1">
            <form action="{% url 'add_task' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ new_task_form }}
                </div>
                <button type="submit" class="btn btn-outline-success m-2">Create</button>
                <small><a href="{% url 'tasks_list' %}">Back to tasks.</a></small>
            </form>
        </div>
    </div>
{% endblock %}