{% extends "academics/layout.html" %}

{% block title %} - add thesis{% endblock %}

{% block body %}
    <div class="container">
        <div class="display-6 m-2">Add new project</div>
        <div class="m-1">
            <form action="{% url 'add_thesis' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ new_thesis_form }}
                </div>
                <button type="submit" class="btn btn-outline-success m-2">Create</button>
                <a class=" btn btn-outline-danger" href="{% url 'theses_list' %}">Back to theses</a>
            </form>
        </div>
    </div>
{% endblock %}