{% extends "academics/layout.html" %}


{% load static %}


{% block title %} - {{ project.title }}{% endblock %}


{% block body %}

    <div class="container">

        <div class="row justify-content-around mt-4">
            <div class="display-6">{{ project.title }}</div>
            <div class="col-10">
                <div>{{ project.description  }}</div>
            </div>
            <div class="col-2">
                <div><b>Members</b></div>
                {% for member in project.members.all %}
                    {% if project in member.created_projects.all %}
                        {{ member.username }} <small>- author</small>
                    {% else %}    
                        {{ member.username }}
                    {% endif %}
                {% empty %}
                    No members
                {% endfor %}
            </div>
            <small>Created at {{ project.timestamp.date }}</small>
        </div>

        <div class="row justify-content-around mt-2">
            {% if project in request.user.created_projects.all %}
                <a class="col-5 btn btn-outline-success" href="{% url 'projects_list' %}">Back to projects</a>
                <a class="col-5 btn btn-outline-danger" href="{% url 'remove_project' project.id %}">Remove project</a>
            {% else %}
                <a class="btn btn-outline-success" href="{% url 'projects_list' %}">Back to projects</a>
            {% endif %}
        </div>

        <hr class="mt-4 mb-4">

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ new_note_form }}
            </div>
            <input type="hidden" name="job-type" value="project">
            <button type="submit"
                    class="btn btn-outline-success add-note"
                    data-job-id="{{ project.id }}">
                Add
            </button>
        </form>

        <div id="notes">
            {% for note in notes %}
                {% include "academics/includes/note.html" with note=note %}
            {% empty %}
                <small>No notes within this project.</small>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'academics/script.js' %}"></script>

{% endblock %}