{% extends "academics/layout.html" %}

{% load static %}

{% block title %} - Projects{% endblock %}

{% block body %}

    <div class="container">
        <div class="display-6 m-2">Add new project <a class="btn btn-outline-success" href="{% url 'add_project' %}">here</a></div>
        
        <hr class="mt-4 mb-4">

        <div class="display-6 m-2">Your projects</div>
        <div>
            {% for project in projects %}
                {% include "academics/includes/card.html" with job=project url_name="project" %}
            {% empty %}
                <small>No projects yet.</small>
            {% endfor %}
        </div>
    </div>

{% endblock %}