{% extends "academics/layout.html" %}


{% load static %}


{% block title %} - {{ task.title }}{% endblock %}


{% block body %}

    <div class="container">

        <div class="row justify-content-around mt-4">
            <div class="display-6">{{ task.title }}</div>
            <div>{{ task.description  }}</div>
            <small class="mt-4">Due {{ task.timestamp }}</small>
        </div>

        <div class="row justify-content-around mt-2">
            {% if task in request.user.created_tasks.all %}
                <a class="col-5 btn btn-outline-success" href="{% url 'tasks_list' %}">Back to tasks</a>
                <a class="col-5 btn btn-outline-danger" href="{% url 'remove_task' task.id %}">Remove task</a>
            {% else %}
                <a class="btn btn-outline-success" href="{% url 'tasks_list' %}">Back to tasks</a>
            {% endif %}
        </div>

        <hr class="mt-4 mb-4">

        {% for note in notes %}
            {% include "academics/note.html" with note=note %}
        {% empty %}
            <small>No notes within this task.</small>
        {% endfor %}
    </div>

{% endblock %}